.app-header {
  .ant-page-header {
    background-color: rgba($color: #000000, $alpha: 0.15);
  }
}
.container {
  margin: 15px;
}

.applicant-form-container {
  margin: 4rem 15px;
}
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(230, 75, 24);
  margin: 15px;
}
